
<% if instance_variable_get("@answers_#{question.id}").blank? %>
    <big>This question has not been answered yet...</big>
<% else %>  
    <% instance_variable_get("@answers_#{question.id}").each do |answer| %>
        <div class="container-fluid" id="answer-container">
            <div class="row">
                <div class="col-md-12" id="doctor-review-div">
                    <big id="ques-ans"><%=answer.answer %></big> <br>
                </div>
            </div>
            <div id="review-timestamp">Answered by: <%=User.get_username(answer.answered_by)%></div>
            <div id="review-timestamp"><%= answer.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
            <div id="edit-review-btns">
                <% if answer.answered_by == session[:user_id] %>
                    <%= link_to '<button class="btn btn-primary edit-review-button"><span class="fa fa-pencil-square"> Edit<span></button>'.html_safe, edit_answer_path(answer) %>
                    <%= link_to '<button class="btn btn-danger delete-review-button"><span class="fa fa-trash"> Delete </span></button>'.html_safe, answer_path(answer), method: 'delete', data: { confirm: "Are you sure?" }%>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>

