<div class="center jumbotron">
  <img id="main_project_logo"  src="<%= asset_path 'project-logo.png' %>" />

  <p class="home_text">
    We know health insurance can be confusing. 
    Thats why we created EnsurePrice to bring transparency to how much you will pay for health services.
    <br>
  </p>

  <p class="home_line">Get started!</p>
  <br>
  <% if logged_in? %>
    <div class="row" id="home-btns">
      <div class="col-md-4">
        <%= link_to '<button class="btn btn-lg btn-primary" id="home-btn">
          <span class="fa fa-medkit">
            <span id="home-btns-header"> Estimate Cost </span><br>
            <span id="home-btn-text">Find out how your insurance <br>will affect the cost of <br>your Doctors visit.</span>
          </span>
        </button>'.html_safe, ensureprice_path("InsuranceProviders") %>
      </div>
       <div class="col-md-4">
        <%= link_to '<button class="btn btn-lg btn-primary" id="home-btn">
          <span class="fa fa-user-md"> 
            <span id="home-btns-header"> Find Doctors </span><br>
            <span id="home-btn-text">Find doctors that suit your  <br> needs in just a few clicks <br>using our wide range of filters</span>
          </span>
        </button>'.html_safe, doctors_path %>
      </div>
      <div class="col-md-4">
        <%= link_to '<button class="btn btn-lg btn-primary" id="home-btn">
          <span class="fa fa-question-circle"> 
            <span id="home-btns-header"> Insurance FAQ </span><br>
            <span id="home-btn-text">Confused about insurance?<br> Want to ask a Question? <br> Checkout our FAQ board!</span>
          </span>
        </button>'.html_safe, questions_path %>
      </div>
    </div>
  <% else %>
    <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
