<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <%= gravatar_for @user %>
      <h1>
      <%= @user.name %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>
</div>

<table class="table table-striped col-md-12" id="table-intro">
<thead>
  <tr>
    <th id="table_header">Edit your review for Dr. <%= %><th>
  </tr>
</thead>
</table>
<%= link_to '<button class="btn btn-secondary">Back To Profile</button>'.html_safe, current_user %>
