<% provide(:title, 'Sign up') %>
<div class="container-fluid" id="signup-container">
  <div class="row">
      <div id="signup-header">Sign Up</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :avatar, "Avatar (Please only upload .png files less than 1MB)" %>
      <%= f.file_field :avatar, value: @user.avatar.url.downcase, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  <hr>
<p>Existing user? <%= link_to "Login now!", login_path %></p>
</div>