
<div class="container-fluid" id="add-review-container">
  <div class="row">
      <div id="doctor-profile-header">Edit your review for Dr. <%= @doctor_review.doctor_name %></div>
  </div>
  <hr>
  <%= form_for(@doctor_review, as: :doctor_review) do |f| %>
    <%= render 'shared/error_review_messages' %>
    <div class="row">
      <div class="col-md-1">
        <%= f.label :rating, 'Rating' %>
        <%= f.select :rating, options_for_select([1,2,3,4,5], @doctor_review.rating), :class => 'form-control', :id => 'rating-options' %>
      </div>
      <div class="col-md-11">
      </div>
    </div>
    <%= f.label :review_title, 'Title' %>
    <%= f.text_area :review_title, class: 'form-control', rows: '1' %>
    <%= f.label :user_review, 'Review' %>
    <%= f.text_area :user_review, class: 'form-control', rows: '3' %>
    <br>
    <%= f.submit "Update My Review", class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to '<button class="btn btn-secondary back-button">Back To Profile</button>'.html_safe, current_user %>
</div>
