
<table class="table table-striped col-md-12" id="doctors">
  <thead>
    <tr>
      <th id="table_header">Dr. <%= @doctor_info.doctor_name %><th>
    </tr>
  </thead>
</table>
<div class="doctor-profile">
  <div class="row">
    <div class="col-sm-6">
      <div class="gender">
        <b>Gender</b> <br> <%= @doctor_info.gender %>
      </div>
      <div class="designation">
        <b> Designation</b> <br> <%= @doctor_info.designation %>
      </div>
      <div class="specialty">
        <b>Specialty</b> <br> <%= @doctor_info.specialty %>
      </div>
      <div class="insurance-plan">
        <b>Insurance Plan</b> <br> <%= @doctor_info.insurance_plan %>
      </div>
      <div class="provider-type">
        <b>Provider Type</b> <br> <%= @doctor_info.provider_type %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="national-provider-identifier">
        <b>National Provider Identifier</b> <br> <%= @doctor_info.national_provider_identifier %>
      </div>
      <div class="medicaid-provider">
        <b>Medicaid Provider Number</b> <br> <%= @doctor_info.medicaid_provider %>
      </div>
      <div class="phone-number">
        <b>Phone No.</b> <br> <%= @doctor_info.phone_number %>
      </div>
      <div class="location">
        <b>Location</b> <br> <%= @doctor_info.location %>
      </div>
    </div>
  </div>
</div>

<%= link_to '<button class="btn btn-primary back-button">Back to All Doctors</button>'.html_safe, selectdoctors_path %>
<%= link_to '<button class="btn btn-primary back-button">Add Review</button>'.html_safe, '#' %>