<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-md-7" id="table_header">
            Find Doctors
            <% if params[:query] && !params[:query].blank?%>
              (<%= pluralize(@doctors.count, "Result") %> for '<%= params[:query]%>')
            <% end %>
            <% if session[:insurance_plan] or session[:designation] or session[:specialty] or @plan_filter or @designation_filter or @specialty_filter %>
              (<%= pluralize(@doctors.count, "Result") %>)
            <% end %>
          </div>
          <div class="col-md-5" id="search-option">
            <form class="form" method="get">
                <span type="button" class="search-suggestion" data-toggle="tooltip" data-placement="top" title="You can search by name, insurance, site name, specialty or designation">
                  <div class="col-md-10">
                    <input class="form-control" name="query" type="text" placeholder="Search doctors" aria-label="Search">
                  </div>
                </span>
                <div class="col-md-2">
                  <button class="btn btn-primary" id="search-in-doctors-btn" type="submit">Search</button>
                </div>
            </form> 
          </div>
        </div>
      </th>
    </tr>
  </thead>
</table>
<div class="container">
  <div class="select-container">
    <div class="row">
      <%= form_tag doctors_path, :method => 'get' do %>
          <div class="col-md-3" id="select-filter">
            <%= select_tag 'insurance_plan', options_for_select(@insurance_plans, @plan_filter), :prompt => "All Providers", :class => "filter" %>
          </div>
          <div class="col-md-3" id="select-filter">
            <%= select_tag 'designation', options_for_select(@designations, @designation_filter), :prompt => "All Doctor Designations", :class => "filter" %>
          </div>
          <div class="col-md-3" id="select-filter">
            <%= select_tag 'specialty', options_for_select(@specialities, @specialty_filter), :prompt => "All Specialities", :class => "filter" %>
          </div>
          <div class="col-md-1" id="select-filter-btn-div">
            <%= button_tag( :class => "btn btn-info filter-btn") do %>
              <i class="fa fa-filter" aria-hidden="true"></i> Filter
            <% end %>
          </div>
      <% end %>
      <div class="col-md-2" id="select-sort-btn-div">
        <%= link_to '<button class="btn btn-info sort-btn"><span class="fa fa-sort-amount-desc"> Sort by Rating<span></button>'.html_safe, doctors_path(:sort => 'avg_rating') %>
      </div>
    </div>
  </div>
  <br>
  <% if session[:insurance_plan] or session[:designation] or session[:specialty] or @plan_filter or @designation_filter or @specialty_filter %>
    <big><b>Doctor Filter Tags Applied : &nbsp;</b></big>
    <span class="filter-tag">
      <% if  @plan_filter=='' %>
        All Providers &nbsp;
      <% elsif  @plan_filter %>
        <%=  @plan_filter %> &nbsp;
      <% end %>
    </span>
    <span class="filter-tag">
      <% if @designation_filter=='' %>
        All Designations &nbsp;
      <% elsif @designation_filter %>
        <%= @designation_filter %> &nbsp;
      <% end %>
    </span>
    <span class="filter-tag">
      <% if @specialty_filter=='' %>
        All Specialities &nbsp;
      <% elsif  @specialty_filter %>
        <%=  @specialty_filter %> &nbsp;
      <% end %>
    </span>
  <br><br>
  <% end %>
</div>
<br><br>
<div class="container">
  <div class="row">
      <% if !@doctors.empty? %>
        <% @doctors.each do |doctor| %>
          <div class="card">
            <div class="card-text doctor-name-header">Dr. <%= doctor.doctor_name %></div>
            <small>
              <div type="button" class="doc-card-rating" data-toggle="tooltip" data-placement="top" title="Average Rating: <%=doctor.avg_rating%>">
                <% for i in 1..5 %>
                  <span class="<%=star_rating_class(doctor.avg_rating, i)%>" id="doc-rating-star"></span>
                <% end %>
                <span id="doc-card-review-count">(<%= doctor.num_reviews %> reviews)</span>
              </div>
            </small>
            <div class="card-content">
              <small><div class="card-text"><i class="fa fa-user-md" aria-hidden="true"> <span id="card-doc-about"><%= doctor.designation.truncate(20) %>, <%= doctor.specialty.truncate(25) %></span></i></div></small>
              <small><div class="card-text"><i class="fa fa-medkit" aria-hidden="true"> <b id="insurance-name"><%= doctor.insurance_plan %></b></i></div></small>
              <small><div class="card-text"><i class="fa fa-map-marker" aria-hidden="true"> <span id="card-site-name"><%= doctor.site_name.truncate(45) %></span></i></div></small>  
            </div>
            <br>
            <%= link_to '<button class="btn btn-primary doctor-select"> More Info</button>'.html_safe, doctor_path(doctor) %>
          </div>
        <% end %>
      <% else %>
          <div class="alert alert-danger">
            <b>No Doctors with above filters found!</b>
          </div>
      <% end %>
  </div>
</div>



