<div class="container-fluid" id="doctor-profile-container">
  <div class="row">
    <div id="doctor-profile-header">Dr. <%= @doctor.doctor_name %>&nbsp;&nbsp;&nbsp;</div>
      <span type="button" class="avg-doc-rating" data-toggle="tooltip" data-placement="top" title="Average Rating: <%=@doctor.avg_rating%>">
          <% for i in 1..5 %>
            <span class="<%=star_rating_class(@doctor.avg_rating, i)%>" id="doc-rating-star"></span>
          <% end %>
          <%= link_to reviews_path do %>
            <span id="review-count">(<%= @doctor.num_reviews %> reviews)</span>
          <% end %>
      </span>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-7">
      <div class="gender">
        <b>Gender</b> <br> <%= @doctor.gender %>
      </div>
      <div class="designation">
        <b> Designation</b> <br> <%= @doctor.designation %>
      </div>
      <div class="specialty">
        <b>Specialty</b> <br> <%= @doctor.specialty %>
      </div>
      <div class="insurance-plan">
        <b>Insurance Plan</b> <br> <%= @doctor.insurance_plan %>
      </div>
      <div class="location">
        <b>Location</b> <br> <%= @doctor.location %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="provider-type">
        <b>Provider Type</b> <br> <%= @doctor.provider_type %>
      </div>
      <div class="national-provider-identifier">
        <b>National Provider Identifier</b> <br> <%= @doctor.national_provider_identifier %>
      </div>
      <div class="medicaid-provider">
        <b>Medicaid Provider Number</b> <br> <%= @doctor.medicaid_provider %>
      </div>
      <div class="phone-number">
        <b>Phone No.</b> <br> <%= @doctor.phone_number %>
      </div>
       <div class="site-name">
        <b>Site Name</b> <br> <%= @doctor.site_name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <% if params[:back] && params[:back] == 'price' %>
        <%= link_to '<button class="btn btn-secondary back-button">Explore More Doctors</button>'.html_safe, doctors_path %>
      <% else %>
        <%= link_to '<button class="btn btn-secondary back-button">Back To Doctors</button>'.html_safe, doctors_path %>
      <% end %>
    </div>
    <div class="col-md-5" id="review-btns">
      <%= link_to '<button class="btn btn-info see-reviews-btn">See Reviews</button>'.html_safe, reviews_path %>
      <%= link_to '<button class="btn btn-primary add-review-btn"><span class="fa fa-plus-square"> Add a Review</span></button>'.html_safe, new_doctor_review_path %>
    </div>
  </div>
</div>

