<div id="sub_header"><em><%= session[:id] %></em> > <em><%= session[:plan_id] %></em></div>
<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th>
        <div class="row">
          <div class="col-md-6" id="table_header">
            Select Your In-Network Doctor
            <% if params[:query] && !params[:query].blank?%>
              (<%= pluralize(@doctors.count, "Result") %> for '<%= params[:query]%>')
            <% end %>
          </div>
          <div class="col-md-4" id="search-option">
            <form class="form" method="get">
                <div class="col-md-10">
                  <input class="form-control" name="query" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary" id="search-in-network-btn" type="submit">Search</button>
                </div>
            </form> 
          </div>
          <div class="col-md-2">
            <%= link_to '<button class="btn btn-secondary" id="back-plans-btn">Back To Plans</button>'.html_safe, plans_path(session[:id]) %>
          </div>
        </div>
      </th>
    </tr>
  </thead>
</table>
<div class="container">
  <div class="row">
      <% @doctors.each do |doctor| %>
      <div class="card">
        <strong class="card-text doctor-name">Dr. <%= doctor.doctor_name %> </strong>
        <small><div class="card-text"><%= doctor.designation %>, <%= doctor.specialty %> </div></small>
        <small><div class="card-text"><%= doctor.site_name %></div></small>
        <%= link_to '<button class="btn btn-primary doctor-select">Select</button>'.html_safe, visits_path(doctor.doctor_name) %>
      </div>
      <% end %>
  </div>
</div>
<br><br>