<div id="sub_header"><em><%= session[:id] %></em> > <em><%= session[:plan_id] %></em></div>
<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th id="table_header">Select an In-Network Doctor You Plan to Visit<th>
    </tr>
  </thead>
</table>
<div class="container">
  <div class="row">
      <% @doctors.each do |doctor| %>
      <div class="card">
        <strong class="card-text doctor-name">Dr. <%= doctor.doctor_name %> </strong>
        <small><div class="card-text"><%= doctor.designation %>, <%= doctor.specialty %> </div></small>
        <small><div class="card-text"><%= doctor.site_name %></div></small>
        <%= link_to '<button class="btn btn-primary doctor-select">Select</button>'.html_safe, visits_path(doctor.doctor_name) %>
      </div>
      <% end %>
  </div>
</div>
<br><br>
<%= link_to '<button class="btn btn-secondary">Back To Plans</button>'.html_safe, plans_path(session[:id]) %>