<%= stylesheet_link_tag 'application' %>  
<%= stylesheet_link_tag 'price' %>  

<div id="page_banner"><img id="project_logo"  src="<%= asset_path 'page-banner.png' %>" /></div>
<div id="sub_header"><em><%= session[:id] %></em> > <em><%= session[:plan_id] %></em> > <em><%= session[:doctor_name] %></em>  > <em id="visit-div"><%= session[:visit_type] %></em> </div>
<table class="table table-striped col-md-12" id="price">
  <thead>
  <tr>
    <th id="table_header">Your Estimated Upcoming Cost Is<th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <th class="price_text"> 
          <%=@dollarSign %> 
          <%=@price %>
        </th>
      </td>
    </tr>
    <tr>
      <td>
        <th class="price_text">*After paying your insurance deductible of $<%= @deductible %> </th>
      </td>
    </tr>
  </tbody>
</table>
<button id="back_button" type="button"><%= link_to "Back to home page", ensureprices_path, id: "back_link" %> </button>


