<div id="sub_header"><em><%= session[:id] %></em> > <em><%= session[:plan_id] %></em> > <em>Dr. <%= session[:doctor_name] %></em></div>
<table class="table table-striped col-md-12" id="table-intro">
  <thead>
    <tr>
      <th id="table_header">Select the Reason for Your Visit<th>
    </tr>
    <tr>
      <th id="visit_key">OV: Office Visit | ER: Emergency Room Visit | UC: Urgent Care Visit | SPC: Specialist Visit | HO: Hospital Stay<th>
    </tr>
  </thead>
  <table>
    <% @visits.each do |visit| %>
      <%= button_to visit, price_path(visit), id: "visit-btn", method: :get %>
      <br>
    <% end %>
  </table>
</table>
<br><br>
<%= link_to '<button class="btn btn-secondary">Back To Doctors</button>'.html_safe, doctors_path(session[:plan_id]) %>