<%= stylesheet_link_tag 'application' %>  
<style type="text/css">
  tbody tr:hover { 
    background: #D8BABD; 
    cursor: pointer;
  } 
</style>

<div id="sub_header"><em><%= session[:id] %></em> > <em><%= session[:plan_id] %></em> > <em>Dr. <%= session[:doctor_name] %></em></div>
<table class="table table-striped col-md-12" id="visits">
  <thead>
    <tr>
      <th id="table_header">Select the Reason for Your Visit<th>
    </tr>
    <tr>
      <th id="visit_key">OV: Office Visit | ER: Emergency Room Visit | UC: Urgent Care Visit | SPC: Specialist Visit | HO: Hospital Stay<th>
    </tr>
  </thead>
  <table style="margin-left:auto;margin-right:auto;">
    <% @visits.each do |visit| %>
      <tr>
        <td>
          <%= link_to visit, price_path(visit), id: "visit-link"%>
        </td>
      </tr>
    <% end %>
  </table>
</table>
